html {
  font-size: 12pt;
}

body {
  font-family: "Inconsolata", monospace;
  background-color: #f4d7d7;
  color: #221e1e;
  max-width: 1600px;
  margin: auto;
  font-family: 400;
}

main {
  max-width: 85vw;
  margin: auto;
}

a {
  color: #221e1e;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #ed6363;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

h1,
h2,
h3 {
  font-weight: 500;
  margin-bottom: 40px;
}

/* Navbar */
nav {
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  /* padding: 10px 80px 0px 80px; */
  max-width: 95vw;
  margin: auto;
  padding: 5% 10% 0% 10%;
  border-bottom: 2px solid #221e1e;
}

ul.contact-list {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: end;
}

ul.contact-list li {
  font-size: 2rem;
  padding-left: 20px;
  color: ;
}

nav .row {
  align-items: end;
}

@media (max-width: 50rem) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.8rem;
  }
}

/* Larger than mobile screen */
@media (max-width: 40rem) {
  nav .row {
    flex-direction: column;
  }
  nav .row .column {
    text-align: center;
  }
  ul.contact-list {
    justify-content: center;
  }
}

/* Main */

section {
  padding-bottom: 40px;
}

.text-box {
  background-color: #f4f1f1;
  padding: 15px;
  margin: 10px auto 10px auto;
}

.cafecito {
  width: 200px;
  margin-bottom: 40px;
}

img {
  size: 100%;
}

.picture {
  background-color: #f4f1f1;
  padding: 3%;
  text-align: center;
  box-shadow: 4px 4px 6px #221e1e;
  margin: 5% 0% 5% 0%;
}

.text-small {
  font-size: 11pt;
  margin-bottom: 10px;
}

footer {
  max-width: 95vw;
  margin: auto;
  padding: 2% 5% 0% 5%;
  border-top: 2px solid #221e1e;
  text-align: center;
}

footer p {
  margin-bottom: 5px;
}
